*.iml
.attach_pid*
.gradle/
.idea/
.ipynb_checkpoints/
*.log
.nfs*
build/
scripts/linux-amd64/*
ca-certificates/*
!ca-certificates/README.txt
data/
lib/*
!lib/README.txt
out/
__pycache__
common/src/main/resources/tiny-yolo-voc.pb
keycloak.json
.kube
jupyterhub/secret.yaml
*-local.sh

