*.iml
.attach_pid*
.gradle/
.idea/
.ipynb_checkpoints/
*.log
.nfs*
build/
ca-certificates/*
!ca-certificates/README.txt
data/
lib/*
!lib/README.txt
out/
__pycache__
common/src/main/resources/tiny-yolo-voc.pb
keycloak.json

jupyterhub/secret.yaml
*-local.sh
camera-recorder/src/main/java/io/pravega/example/camerarecorder/Test.java
/home/vidyat/Desktop/video-samples/common/src/main/java/io/pravega/example/tensorflow/QRCode.java